body {
  
    background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?t=st=1724743173~exp=1724746773~hmac=9dd8383477503105960dbbb9bc9b340f456e0bc4a302531e7bd554d29e28224b&w=1380);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
p{
  
}

 
  
  input {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    width: 60%;
  }
textarea {
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: italic;

}
.button1 {
  border-radius: 12px;
  font-size: 16px;
  padding: 9px 8px
  
}

.button1:hover {
  background-color: #555555;
}

.Form1 { 
  background-color: rgb(99, 151, 151);
  border-radius: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}
