body {
    background-color: rgb(33, 45, 49);
  }
  
  h1 {
    color: rgb(0, 255, 42);
    text-align: center;
    font-style: arial;
  }
  
  input {
    color: rgb(255, 0, 0);
    text-align: center;
     font-style: italic;
  }
textarea {
  color: rgb(204, 0, 255);
  text-align: center;
  font-style: italic;

}

.button1.button1:hover {
  background-color: #555555;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}